psql_user='<%= node['postgresql']['username'] %>'
psql_group='<%= node['postgresql']['group'] %>'
psql_host='<%= node['gitlab']['geo-postgresql']['unix_socket_directory'] %>'
psql_port='<%= node['gitlab']['geo-postgresql']['port'] %>'
psql_dbname='<%= node['gitlab']['geo_secondary']['db_database'] %>'
